---
import {formatDate, slugify} from "../js/utils";
import { Image } from "astro:assets";

//component imports
import Link from "../components/Link.astro"

const { frontmatter, url, tagType} = Astro.props;
const Tag = tagType;
const {title, description, date, category, author, image} = frontmatter;

// const {title} = frontmatter;
---

 <article class="post-card">
            <div class="w-full max-w-md mx-auto mt-0">
              <small>
                <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
            </small>
              <a href={url}>
              <!-- <Image src={image.src} alt={image.alt} width="400" height=250 format="avif" fit="cover" quality={80}/>     -->
                <Image src={image.src} alt={image.alt} width="400" height="250" class="object-cover rounded-xl" />
              </a>
            <div class="content py-4 px-2 w-full">
              <Tag class="text-2xl">
                <a href={url}>{title}</a>
              </Tag>
              <small>by <a href={`/author/${author}`}>{author}</a> | {formatDate(date)}</small>
            </div>
            <p class="first-letter:text-5xl first-letter:font-bold first-letter:float-left first-letter:mr-2 leading-relaxed first-letter:leading-[0.85] first-letter:font-[MedievalSharp] h-auto px-2 py-8">{description}</p>
            <Link href={url} text="Read Post" style="primary">
            </div>
           
      </article>
